
.card {
    
    border: 1px solid #DDD;
    margin: 10px;   
}
.title{
    font-size: 18px;
    font-weight: 600;
    margin: 8px 10px 16px 10px;
    cursor: pointer;
}

.image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.description {
    margin: 16px 10px 4px 10px;
    text-align: justify;
    text-indent: 15px;
    overflow: hidden;
    &.showLess{
        max-height: 40px;        
    }
}

.showMoreLink{
    color: rgb(96, 96, 201);
    cursor: pointer;
    text-align: right;
    margin: 0px 10px 8px 10px;
}
