@import url('~styles/style.less');
.buttonWrapper {
    text-align: center;
    .button {
        min-height: 60px;
        width: 100%;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        background-color: lighten( @success-color, 5%);
        box-shadow: 0 2px 0 0 @success-color;
        border-radius: 3px;
        color: @white;
        &:hover {
            cursor: pointer;
            background-color: @success-color
        }
    }
}